body{
  background-color: #a6f2f5;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.login{
  position: relative;
  margin-left : 40%;
  margin-top: 15%;

}
