<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="login">
    <h2><p>Service Finder</p></h2>

    <form method='POST' action=''>
        <fieldset>
            <legend>Inputs</legend>
            <br>
            <select type="text"  name="loc" placeholder='Location'>
                <option value="Alagappan nagar">Alagappan nagar</option>
                <option value="Arappalayam">Arappalayam</option>
                <option value="Koodal nagar">Koodal nagar</option>
                <option value="Narimedu">Narimedu</option>
                <option value="K pudur">K pudur</option>
                <option value="Kumaran nagar">Kumaran nagar</option>
                <option value="Avaniyapuram">Avaniyapuram</option>
                <option value="KK nagar">KK nagar</option>
                <option value="Therkuvasal">Therkuvasal</option>
                <option value="Sampatti puram">Sampatti puram</option>
                <option value="Kalavasal">Kalavasal</option>
                <option value="Ponnagaram">Ponnagaram</option>
                <option value="Kudal nagar">Kudal nagar</option>
                <option value="Thathaneri">Thathaneri</option>
                <option value="Tallakulam">Tallakulam</option>
                <option value="Vandiyur">Vandiyur</option>
                <option value="Chinthamani">Chinthamani</option>
                <option value="S Alangulam">S Alangulam</option>
                <option value="Mattuthavani">Mattuthavani</option>
                <option value="Thiruparankundram">Thiruparankundram</option>
                <option value="Thiru nagar">Thiru nagar</option>
                    <option value="Villapuram">Villapuram</option>
                <option value="Sellur">Sellur</option>
                <option value="Fathima college">Fathima college</option>
            </select><br><br>

            <select type="text"  name="ser" placeholder='Service'>
                <option value="AC mechanic">AC mechanic</option>
                <option value="Plumbing">Plumbing</option>
                <option value="House wiring">House wiring</option>
                <option value="carpenter">carpenter</option>
                <option value="computer service">computer service</option>
                <option value="RO water service">RO water service</option>
            </select><br><br>

            <input type="submit" value="Find Now">

        </fieldset>


    </form>
</div>
</body>
</html>